.content {
    width: 97%;
    padding: 10px 10px;
    margin: 10px 15px;
    border-radius: 8px;
    background-color: #ebf6f5;
}

.content-main {

    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding: 10px 10px;
    border-radius: 8px;
    color: rgb(148, 5, 148);
    background-size: cover;
    animation: animate 16s ease-in-out infinite;
}

@keyframes animate {

    0%,
    100% {
        background-image: url('./src/assets/hp1.jpg');
    }

    25% {
        background-image: url('./src/assets/home.jpg');
    }

    50% {
        background-image: url('./src/assets/hp2.jpg');
    }

    75% {
        background-image: url('./src/assets/hp4.jpeg');
    }
}

.content-main1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30vh;
    padding: 10px 10px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.tag {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}