.footer {
    width: 97%;
    height: 52vh;
    padding: 10px 10px;
    margin: 10px 15px;
    border-radius: 8px;
    background-color: #F25A38;

}

.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

span {
    padding: 5px;
    border-radius: 4px;

}

span :hover {
    background-color: green;
    transition: 1s;
}

#icons-one {
    display: flex;
    align-items: center;
    gap: 8px;
    color: whitesmoke;
    padding: 10px;
}

#icons-two {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px;
}

.footer-main {
    position: relative;
    align-content: center;
    padding-left: 25rem;
    padding-bottom: 0rem;

}

button {
    background-color: red;
    font-weight: bolder;
    padding: 5px;
}

button:hover {
    background-color: green;
}