.footer {
    width: 97%;
    height: 45vh;
    padding: 10px 10px;
    margin: 10px 15px;
    border-radius: 8px;
    background-color: #2d545e;

}


.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#icons-one {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: whitesmoke;
    font-weight: bolder;
}

#icons-two {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: whitesmoke;
    font-weight: bolder;
    padding-right: 20px;
    padding-top: 30px;
}

.footer-main {
    padding-top: 30px;
}



span {
    padding: 5px;
    border-radius: 4px;

}

span :hover {
    background-color: red;
    transition: 1s;
}

button {
    background-color: red;
    font-weight: bolder;
    padding: 5px;
}