.navbar {
    width: 97%;
    height: 10vh;
    padding: 10px 10px;
    margin: 10px 15px;
    border-radius: 8px;
    background-color: #F25A38;

}

header {
    display: flex;
    justify-content: space-between;

}

nav ul {
    display: flex;
    align-items: center;
    gap: 25px;
}

nav ul li {
    list-style-type: none;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
}

a {
    text-decoration: none;
    font-weight: bolder;
    color: white;
    border: 0px solid black;
    border-radius: 6px;
    padding: 10px;
}

a :hover {
    background-color: green;
    transition: 1s;
}

button {
    background-color: red;
    border-radius: 8px;
    padding: 5px;
    color: white;
    font-weight: bolder;
}